:root {
	--theme-main_nav: 38, 28, 56 !important;
	--theme-main_nav_tab: 38, 28, 56 !important; 
	--theme-page_background: 21, 16, 31 !important;
	--theme-section_title: 38, 28, 56 !important;
	--theme-widget_title_bar: 111, 66, 193 !important;
	--theme-important_button: 111, 66, 193 !important;
	--theme-area_background_reset: 29, 21, 43 !important;
	--theme-area_background_dark: 38, 28, 56 !important;
	--theme-area_background_light: 32, 24, 47 !important;
	--theme-area_background: 38, 28, 56 !important;
	--theme-comment_count: 38, 28, 56 !important;
	--theme-secondary_title: 111, 66, 193 !important;
	--theme-text_color: 240, 230, 255 !important;
	--theme-very_light_button: 111, 66, 193 !important;
	--theme-primary_button: 38, 28, 56 !important;
	--theme-light_button: 38, 28, 56 !important;
	--theme-timeline_color: 111, 66, 193 !important;
	--theme-button_bar: 21, 16, 31 !important;
	--breadcrumb--background: rgb(29, 21, 43) !important;   
	--theme-tab_background: 38, 28, 56 !important; 
	--theme-selected: 38, 28, 56 !important; 
	--theme-brand_primary: 165, 23, 201 !important;
	--theme-pagination_active: 38, 28, 56 !important;
	--theme-tag: 21, 16, 31 !important;
	
}

.focus-logo img {
  box-sizing: border-box !important;
  width: 400px !important;
  height: 90% !important; 
  padding-left: 400px !important; 
  
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/pandawowNeon.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.animate-header {
    position: static !important;
}

.animate-header__background-panel {
    position: fixed !important;
    height: 100% !important;
}

.animate-header__background-panel--1 {
	width: 100% !important;
    background: none !important;
}

.animate-header__background-panel--2 {
    width: 100% !important;
    background: url('chrome-extension://__MSG_@@extension_id__/images/cyberpunkBG.jpg') !important;
	background-repeat: no-repeat!important;
	background-size: cover !important;
	background-attachment: fixed !important;
}

 #ipsLayout_contentArea {
    display: block !important;
    width: auto !important;
    background: rgb(var(--theme-page_background)) !important;
    padding: 15px !important;
    border-radius: 4px !important;
}

#ipsLayout_header {
    border-bottom: 0px solid rgba(255,255,255,0.2) !important;
}

.cProfileSidebarBlock,
.cProfileRepScore {
	border-radius: 4px;	
}

[data-focus-scheme="dark"] .ipsTooltip {
    background: rgb(var(--theme-widget_title_bar)) !important;
    border-color: rgb(var(--theme-widget_title_bar)) !important;
}

#elAjaxLoading {
    background: rgb(var(--theme-important_button)) !important;
}

.ipsTag_remove::before {
    background-color: rgba(var(--theme-important_button),.3);
}

html body .animate-header__background-panel--2,
html body [style*="background-panel-2"] {
    animation: none !important;
    -webkit-animation: none !important;
    transform: none !important;         
}